<div class="pb-8">
  <h3 class="text-center text-4xl font-bold pb-6">Summary</h3>
  <div class="text-left md:container md:mx-auto">
    <p class="pb-3">
      Graduated in 2016 from Appalachian State University with a 
      BS degree in Computer Science. My most recent experience at 
      Vanguard as a senior developer focused on building Java micro services 
      for the Enterprise Advise. Outside of work, I enjoy hiking, camping and photography.
    </p>
    <p>I am currently located in the Charlotte, North Carolina.</p>
  </div>
</div>
